Source: atmosfoam
Section: science
Priority: optional
Maintainer: James Shaw <js102@zepler.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
#Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/AtmosFOAM/AtmosFOAM.git
Vcs-Browser: https://github.com/AtmosFOAM/AtmosFOAM

Package: atmosfoam
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, openfoam-dev (>= 20170521), atmosfoam-tools (>= 20170624132925)
Description: Applications for OpenFOAM atmospheric simulations
 Includes advection and dynamics solvers, mesh generation and 
 initialisation applications.
