#!/usr/bin/make -f
SHELL := /bin/bash
INSTALL := install
INSTALL_PROGRAM := $(INSTALL)
INSTALL_DATA := $(INSTALL) -m 644
PREFIX := /usr
exec_prefix := $(PREFIX)
bindir := $(exec_prefix)/bin
libdir := $(exec_prefix)/lib
includedir := $(exec_prefix)/include
sharedir := $(exec_prefix)/share
DESTDIR := debian/atmosfoam

export FOAM_BASHRC = /opt/openfoam-dev/etc/bashrc
export DH_ROOT_DIR = $(shell dirname $(realpath $(lastword $(MAKEFILE_LIST))))
export ATMOSFOAM_SRC = $(shell pwd)/src

FOAM_USER_APPBIN := $(DH_ROOT_DIR)/build/bin

%:
	debian/override_dh.sh dh $@

override_dh_auto_clean:
	debian/override_dh_auto_clean.sh
	rm -rf $(DH_ROOT_DIR)/build/bin
	rm -rf $(DH_ROOT_DIR)/build/lib

override_dh_auto_build:
	debian/override_dh_auto_build.sh

override_dh_auto_test:
	debian/override_dh.sh $(FOAM_USER_APPBIN)/testAtmosFOAM --use-colour yes

override_dh_auto_install:
	$(INSTALL) -d $(DESTDIR)$(bindir)
	$(INSTALL) -d $(DESTDIR)$(libdir)
	$(INSTALL) -d $(DESTDIR)$(includedir)
	$(INSTALL_PROGRAM) -D $(FOAM_USER_APPBIN)/* $(DESTDIR)$(bindir)
	$(INSTALL_PROGRAM) -D $(FOAM_USER_LIBBIN)/* $(DESTDIR)$(libdir)
	$(RM) $(DESTDIR)$(bindir)/testAtmosFOAM
	debian/install_lnInclude.sh src $(DESTDIR)$(includedir)
